*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

input{
    outline: none;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1240px;
    padding: 20px 20px;
    margin: 0 auto;
    display: flex;
}


main{
    .find{
        height: 400px;
        display: flex;
        .left-find{
            width: 55%;
            height: 100%;
            padding: 25px 0px 0px 20px;
            background-color: #E7E8E3;
            .text1-find{
                color: #2A2C1F;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                height: 20px;
                width: 130px;
                border-radius: 4px;
                background-color: #ccc;
            }
            .text2-find{
                color: #2A2C1F;
                font-family: Roboto;
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                line-height: 67.2px; /* 120% */
            }
            .text3-find{
                color: #65665C;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 150% */
                margin: 15px 0;
            }
            input{
                width: 280px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 6px;
                border: 1px solid #E7E8E3;
                background: #FFF;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
                padding: 20px;
            }
            .btn1-find{
                width: 154px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 6px;
                border: 1px solid #CF6F49;
                background: #CF6F49;
                a{
                    font-size: 18px;
                    color: #fff;
                }
            }
            .btn1-find:hover{
                background: #fff;
                transition: 0.3s;
                cursor: pointer;
                a{
                    color: #000;
                }
            }
        }
        .right-find{
            padding: 0;
            margin: 0;
            width: 45%;
            height: 100%;
            background: url(../images/IMAGE.png );
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }

    .works{
        .container{
            display: block;
        }
        .text1-works{
            color: #2A2C1F;
            text-align: center;
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 57.6px; /* 120% */
        }
        .text2-works{
            color: #65665C;
            text-align: center;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 150% */
            margin: 30px 0 50px 0;
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .card{
                width: 310px;
                height: 250px;
                border-radius: 16px;
                border: 1px solid #E7E8E3;
                background: #FFF;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08); 
                margin: 0 10px;
                .foto{
                    position: relative;
                    left: 140px;
                    top: 20px;
                    width: 30px;
                    height: 30px;
                    border-radius: 4px;
                    background-color: rgb(235, 171, 146);
                }              
                .text1-card{
                    color: #2A2C1F;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 33.6px; 
                    margin:40px 0 35px 0;
                }
                .text2-card{
                    color: #65665C;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    padding: 0 10px;
                }
            }
        }

    }

    .best{
        height: 500px;
        .left-best{
                width: 50%; 
                height: 500px;
                padding-top: 80px;
                .text1-best{
                    width: 100px;
                    border-radius: 32px;
                    background: #E7E8E3;
                    text-align: center;
                }
                .text2-best{
                    color: #2A2C1F;
                    font-family: Roboto;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 57.6px; /* 120% */
                }
                .text3-best{
                    color: #65665C;
                    font-family: Roboto;
                    font-size: 18px;
                    margin: 30px 0;
                    font-style: normal;
                    font-weight: 400;
                    max-width: 500px;
                    line-height: 27px; /* 150% */
                }
                .btn-2{
                    width: 192px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 6px;
                    border: 1px solid #E7E8E3;
                    background: #FFF;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
                    a{
                        color: #000;
                    }
                }
                .btn-2:hover{
                    background: rgb(202, 202, 211);
                }
        } 
               .right-best{
                width: 50%; 
                height: 500px;
                background: url(../images/IMAGE\ \(1\).png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;    
        } 
    }
    
    .area{
        .container{
            display: block;
        }
        .text1-area{
            color: #2A2C1F;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 150% */border-radius: 32px;
            background: #E7E8E3;width: 92px;
            height: 29px;
            flex-shrink: 0;
        }
        .text2-area{
            color: #2A2C1F;
            text-align: center;
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 57.6px; /* 120% */
        }
        .cards-area{
            display: flex;
            flex-wrap: wrap;

            .card-area{
                width: 400px;
                height: 330px;
                background: url(../images/IMAGE\ \(1\).svg);
                background-position: top;
                background-repeat: no-repeat;
                background-size: 500px 200px;
                
                .one{
                    text-align: center;
                    margin-top: 200px;
                    color: #2A2C1F;
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 33.6px; /* 140% */
                }
                .two{
                    text-align: center;
                    color: #65665C;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
                .three{
                    text-align: center;
                    color: #65665C;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
            }
        }
    }

    .locations{
        .container{
            display: block;
        }
        .text1-loc{
            color: #2A2C1F;
            text-align: center;
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 57.6px; /* 120% */
        }
        .text2-loc{
            color: #65665C;
            text-align: center;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 150% */
        }
        .cards-loc{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .card-loc{
                margin: 20px 10px;
                width: 370px;
                height: 130px;
                flex-shrink: 0;
                border-radius: 16px;
                border: 1px solid #E7E8E3;
                background: #ececec;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
                .fir{
                    color: #2A2C1F;
                    font-family: Roboto;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 140% */
                    margin: 20px 30px;
                }
                .sec{
                    margin: 0 30px;
                    color: #2A2C1F;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
            }
        }
    }
}   